<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="secrets">
		<a href="/users/<%= current_user.id %>">Profile</a>
		<form action="/sessions" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
			<input type="hidden" name="_method" value="delete" />
			<input type="submit" value="Logout">
		</form>
		<% @secrets.each do |secret| %>
			<p><%= secret.content %></p>
			<p><%= secret.likes.count %> likes </p>
			<% if secret.users_liked.include?(current_user) %>
				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="_method" value="delete" />
					<input type="hidden" name="like[secret_id]" value="<%= secret.id %>" />
				 	<input type="submit" value="Unlike">
				</form>
			<% else %>
				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="like[secret_id]" value="<%= secret.id %>" />
				 	<input type="submit" value="Like">
				 </form>
			<% end %>
			
		<% end %>
	</div>
</body>
</html>